/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f5f5f5;
}

header {
  background-color: #8b4513;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

header ul li a:hover {
  background-color: #a0522d;
  color: #fff;
  border-radius: 5px;
}

.room-detail {
  padding: 100px 20px 50px; /* Adjust padding to account for the fixed header */
  text-align: center;
  background-color: #fff;
}

.room-detail h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.room-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.room-images img {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-info {
  font-size: 18px;
}

.room-info .price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  width: 100%;
}

/* Booking Form Styles */

.booking-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 40px auto;
  text-align: left;
}

.booking-form h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.booking-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.booking-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.booking-form button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #8b4513;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.booking-form button:hover {
  background-color: #a0522d;
}

.nav-auth {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
nav {
  width: 100%;
}
