@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --border-color: #ccc;
  --background-color: #fff;
  --box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.1);
  --hover-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --star-color: #ddd;
  --selected-star-color: #f5b301;
  --modal-background: rgba(0, 0, 0, 0.4);
  --modal-content-bg: #fefefe;
  --primaryColor: rgb(22, 120, 186); /* Lighter shade for button hover */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.room-details {
  border: 1px solid var(--border-color);
  padding: 20px 8%;
  margin-bottom: 16px;
  background-color: var(--background-color);
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-header h1 {
  margin: 0;
}

.adminbuttons {
  display: flex;
  gap: 10px;
  & button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 0.15rem;
    cursor: pointer;
    background-color: var(--primaryColor);
    color: white;
  }
}

.room-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  height: calc(100vh / 1.75);
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.room-images > img {
  width: 65%;
  object-fit: cover;
}

.side-by-side-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

.side-by-side-images img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.room-images img:hover {
  /* padding: 10px;
  transform: scale(1.5); */
  object-fit: cover;
  z-index: 2;
}

.room-description {
  margin-top: 20px;
  margin-right: 10%;
}
.room-description .name_rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.room-description .stars {
  display: flex;
}

.room-description p {
  font-family: var(--font-family);
  font-size: larger;
  margin: 4px 0 8px;
}

.room-description ul {
  padding: 0;
  list-style-type: none;
}

.room-amenities {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.other-amenities {
  display: flex;
  flex-direction: column;
  flex: 1;
  & p {
    font-size: 2rem;
  }
}
.other-amenities ul {
  list-style: none;
  font-size: 1.25rem;
}
.other-amenities ul li i {
  color: var(--primaryColor);
  margin-right: 20px;
  font-size: 1.5rem;
}

.reviews-section {
  padding: 10px 8%;
}

.reviews-section .average-rating {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-size: 2rem;
  & p {
    margin-right: 20px;
  }
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  font-size: 2rem;
  color: var(--star-color);
  cursor: pointer;
  margin-right: 3px;
}

.star.selected {
  color: var(--selected-star-color);
}

/* popup starts */
.popup {
  display: none;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  height: max-content;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  /* border: 1px solid hsl(258, 58%, 42%); */
  border: 1px solid var(--primaryColor);
}

.popup .popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 15px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.remove-buttons {
  display: flex;
  justify-content: space-between;
}

/* Edit Form and Remove Dialog */
.popup form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 5px 0;
}
form .user-details .input-box {
  margin-bottom: 8px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input,
.user-details .input-box textarea {
  height: 30px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .amenities {
  display: flex;
  justify-content: space-around;
}
.popup .button {
  height: 45px;
  margin: 15px 70px 0;
}
.popup button {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 0.5px;
  background-color: var(--primaryColor);
}

#remove-popup {
  max-width: max-content;
}

#remove-popup .remove-buttons {
  margin: 10px 0 0;
  display: flex;
  justify-content: space-around;
  width: inherit;
  height: 25px;
  & button {
    height: 100%;
    width: calc(100% / 2 - 80px);
  }
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .room-images {
    flex-direction: column;
    height: auto;
  }

  .room-images > img,
  .side-by-side-images img {
    width: 100%;
    height: 150px;
  }
  .side-by-side-images img {
    width: calc(100vw - 40%);
  }

  .room-amenities {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    gap: 20px;
  }
  .other-amenities,
  .reservation-form {
    width: calc(100vw - 40%);
    margin: auto;
    align-items: center;
  }
}

.comments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 25px 0;
  border-radius: 5px;
  width: 40%;
  box-shadow: 0 4px 8px rgb(139, 124, 124);
}

.comment .profile {
  gap: 10px;
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 50px;
  height: 50px;
  background-color: var(--border-color);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: auto 10px;
}

.profile strong {
  font-size: 16px;
}

.comment-details {
  flex: 1;
}

.comment-date {
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
}

.comment-text {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
}

/* comments */
.comment-form {
  position: relative;
  max-width: 500px;
  top: -40px;
  margin: auto 60px;
  padding: 20px;
  border-radius: 5px;
}
.comment-form h2 {
  margin-top: 0;
  margin-bottom: 15px;
}
.comment-form label {
  display: block;
  margin-bottom: 5px;
}
.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comment-form button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 15px;
  border: none;
  font-size: 1.15rem;
  letter-spacing: 0.25rem;
  cursor: pointer;
  background-color: var(--primaryColor);
  color: white;
}
.comment-form button:hover {
  background-color: var(--primaryColor);
}
.comment {
  margin-bottom: 15px;
}
.comment .profile {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.comment .profile-icon {
  background-color: var(--primaryColor);
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 1.5rem;
}
.comment .comment-text {
  max-height: 7.6em; /* approximately 3 lines */
  overflow: hidden;
  position: relative;
}
.comment .comment-details {
  margin-left: 15px;
}

.comment button .showMoreComments {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 15px;
  border: none;
  font-size: 1.15rem;
  letter-spacing: 0.25rem;
  cursor: pointer;
  background-color: var(--primaryColor);
  color: white;
}
.comment.expanded .comment-text {
  max-height: none;
}
.comment.expanded .see-more {
  display: inline;
}
.comment-text[data-truncated="true"]::after {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
}
.comment.hidden {
  display: none;
}
