* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5DLVjC1A5s9dpLtSLeW8IWu5Iufp0N_Tvkg&s")
    center / cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.table {
  width: 85vw;
  height: 90vh;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table_header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
}

.table_body {
  border-radius: 0.8rem;
  flex: 1;
  overflow: auto;
}

.table_body table {
  width: 100%;
  border-collapse: collapse;
}

.table_body th,
.table_body td {
  width: fit-content;
  padding: 1rem;
  text-align: left;
}

.table_body thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  z-index: 1;
}

.table_body tbody tr:nth-child(even) {
  background-color: #0000000b;
}

.table_body tbody tr:hover {
  background-color: #fff6;
}

.table_body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
